[submodule "stm32h743vit6/thirdparty/stm32-mw-usb-device"]
	path = stm32h743vit6/thirdparty/stm32-mw-usb-device
	url = git@github.com:STMicroelectronics/stm32-mw-usb-device.git
[submodule "stm32h743vit6/thirdparty/riz-embedded-platform"]
	path = stm32h743vit6/thirdparty/riz-embedded-platform
	url = git@github.com:Rizlient-Grid/riz-embedded-platform.git
